[submodule "lib/libcli"]
	path = lib/libcli
	url = https://github.com/fjulian79/libcli.git
[submodule "lib/libgeneric"]
	path = lib/libgeneric
	url = https://github.com/fjulian79/libgeneric.git
[submodule "lib/bsp-smartsink"]
	path = lib/bsp-smartsink
	url = https://github.com/fjulian79/bsp-stm32-f103.git
	branch = smartsink
